@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.BT-highlight-container {
	all: unset;
	background-color: transparent;
	pointer-events: none;
	position: absolute;
	z-index: 999;
}

.BT-feat-btn {
	all: unset;
	position: absolute;

	left: calc(50% - 15px);

	transform: scale(0.3);

	background-color: #232531;
	width: 30px;
	height: 30px;
	/* transform: translateY(-40px); */
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);

	pointer-events: all;
	transition: 0.1s ease-out;

	display: grid;
	place-items: center;
}

.BT-feat-btn span {
	filter: invert(100%);
}

.translate-text {
	position: absolute;
	color: white;
	background-color: #232531;
	padding-block: 0.2em;
	padding-inline: 1.2em;
	border-radius: 10px;
	font-family: sans-serif; 
  font-weight: 400;
}

.translate-loader {
	width: 15px;
  height: 15px;
/*	position: absolute;*/
	border: 5px solid #4d5066;
  border-radius: 50%;
  border-top: 5px solid #36394a;
  background-color: transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.translate-error {
	color: #d65563;
}